<h1>Dynamic DNS updates for  <tt>{{ auth.name }}.{{ auth.domain.domain }}</tt></h1>
<p>Please <strong>save the authorization code!</strong>  Once you have left
  this page, there will be no record left of your authorization code.
</p>
<p>
  Your Authorization Code is: <div class="authcode">{{ auth.cleartext }}</div>
</p>
<p><tt>{{ auth.name }}.{{ auth.domain.domain }}</tt>
  {% if auth.ip %}currently points to <tt>{{ auth.ip }}</tt>{% else %}is currently unset{% endif %}.
</p>
<dl>
  <dt>Information</dt>
  <dd>
    You can retrieve the information about the current Authorization code at:
      <tt><a href="{% url 'dddns:authinfo' %}">https://{{ request.get_host }}{% url 'dddns:authinfo' %}</a></tt>
  </dd>
  <dt>Updating</dt>
  <dd>
    <p>
      If you know your own public IP address is {% if request.META.REMOTE_ADDR %}{{ request.META.REMOTE_ADDR }}{% else %}{{ 192.2.0.26 }}{% endif %}, then
      you can <tt>POST</tt> to
      <span class="posturl">https://{{ request.get_host }}{% url 'dddns:update' %}</span>
      with the following data:
      <div class="postdata">authcode={{ auth.cleartext }}&amp;ip={% if request.META.REMOTE_ADDR %}{{ request.META.REMOTE_ADDR }}{% else %}{{ 192.2.0.26 }}{% endif %}</div>
    </p>
    <p>
      An example with <tt>wget</tt> in the shell looks like this:
      <pre>
        wget -O- -q '--post-data=authcode={{ auth.cleartext }}&amp;ip={% if request.META.REMOTE_ADDR %}{{ request.META.REMOTE_ADDR }}{% else %}{{ 192.2.0.26 }}{% endif %}' 'https://{{ request.get_host }}{% url 'dddns:update' %}'
      </pre>
    </p>
    <p>
        If you don't know your IP address, you can leave it off, using <tt>POST</tt> data like this:
        <div class="postdata">authcode={{ auth.cleartext }}</div>
        And the server will guess your IP address using the same techniques it uses
        <a href="{% url 'dddns:getip' %}">to report your current IP</a>.
    </p>
    <p>
      An example with <tt>wget</tt> in the shell looks like this:
      <pre>
        wget -O- -q '--post-data=authcode={{ auth.cleartext }}' 'https://{{ request.get_host }}{% url 'dddns:update' %}'
      </pre>
    </p>
  </dd>
  <dt>Clearing</dt>
  <dd>
    <p>
      You can clear the IP address with a <tt>POST</tt>
      to <span class="posturl">https:{{ request.get_host }}{% url 'dddns:remove' %}</span>
      with the following data:
      <div class="postdata">authcode={{ auth.cleartext }}</div>
    </p>
  </dd>
  <dt>Refresh</dt>
  <dd>
    If you want to change this authorization code (e.g. if you're concerned that someone else has a copy of it), you can do so at:
 <tt><a href="{% url 'dddns:refresh' %}">https:{{ request.get_host }}{% url 'dddns:refresh' %}</a></tt>.

    </dd>
</dl>
