<form method="POST" action="{% url 'dddns:authinfo' %}">
<p>
  Authorization Code: <input type="text" name="authcode" autofocus /> <input type="submit" />
</p>
</form>
<p>Other actions:
  <ul>
    <li>
      <a href="{% url 'dddns:enroll' %}">use an invite code</a>
    </li>
    <li>
      <a href="{% url 'dddns:status' %}">system status</a>
    </li>
  </ul>
</p>
