<form method="POST" action="{% url 'dddns:enroll' %}">
  <p>Invite code: <input type="text" name="invite" autofocus /><input type="submit" /></p>
</form>
<p>Other actions:
  <ul>
    <li>
      <a href="{% url 'dddns:authinfo' %}">look up information about an authorization code</a>
    </li>
    <li>
      <a href="{% url 'dddns:status' %}">system status</a>
    </li>
  </ul>
</p>
