<form method="POST" action="{% url 'dddns:enroll' %}">
  <h1>Enroll a name in the <tt>{{ invite.domain.domain }}</tt> zone</h1>
  <p>Dynamic DNS registration</p>
  <input type="hidden" name="invite" value="{{ invite.cleartext }}" />
  <p>Please use only letters, numbers, hyphens, and underscores.</p>
  <p><tt><input type="text" name="name" autofocus />.{{ invite.domain.domain }}</tt></p>
  <p><input type="submit" /></p>
</form>
