<form method="POST" action="{% url 'dddns:refresh' %}">
  <p>Are you sure you want to refresh the authorization code
  for <tt>{{ auth.name }}.{{ auth.domain.domain }}</tt>?  Doing so
  will invalidate the existing authorization code!
  <input type="hidden" name="authcode" value="{{ auth.cleartext }}" />
  <input type="hidden" name="ok" value="yes" />
  </p>
  <p><input type="submit" value="Yes, refresh!"/></p>
</form>
