<h1>Status of dynamic DNS updates</h1>
{% if domains %}
<dl>
  {% for domain in domains %}
  <dt><tt>{{ domain.domain }}</tt></dt>
  <dd>{{ domain.publication_status }}</dd>
  {% endfor %}
</dl>
{% else %}
No public DNS domains managed by this server.
{% endif %}
<p>Other actions:
  <ul>
    <li>
      <a href="{% url 'dddns:authinfo' %}">look up information about an authorization code</a>
    </li>
    <li>
      <a href="{% url 'dddns:enroll' %}">use an invite code</a>
    </li>
  </ul>
</p>
